// import tailwind
// @see https://tailwindcss.com/docs/guides/nextjs
@tailwind base;
@import './base.css';
@tailwind components;
@import './components.css';
@tailwind utilities;

body {
  margin: 0;
}

#__next {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
  font-family: system-ui, sans-serif;
}

header {
  background: khaki;
  padding: 2rem;
  grid-column: 1 / 4;

  nav svg {
    display: inline;
    vertical-align: text-top;
    margin-right: 5px;
  }
}

.left {
  background: lightblue;
  grid-column: 1 / 2;
}

.container {
  background-color: lightgoldenrodyellow;
  grid-column: 2 / 3;
}

main {
  padding: 2rem;
  display: grid;
  background: mintcream;
  place-items: center;
  font-family: Inter, system-ui, sans-serif;
}

.dark main {
  background-color: darkslategray;
  color: wheat;
}

.dark main a {
  color: lightcoral;
}

.right {
  background: yellow;
  grid-column: 3 / 4;
}

footer {
  background: linear-gradient(165deg, teal, linen);
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

aside {
  padding: 1rem;
  writing-mode: vertical-lr;
}

h1 {
  font-family: Sansita, cursive, serif;
  font-size: revert;
  font-weight: revert;
}
