// import tailwind
// @see https://tailwindcss.com/docs/guides/nextjs

@tailwind base;
/* stylelint-disable no-invalid-position-at-import-rule -- I don't know how to make @tailwind known */

@import './base.css';
@tailwind components;
@import './components.css';
/* stylelint-enable no-invalid-position-at-import-rule */

@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

header {
  background: khaki;

  nav svg {
    display: inline;
    margin-right: 5px;
    vertical-align: text-top;
  }
}

.left {
  background: lightblue;
}

.container {
  background-color: lightgoldenrodyellow;
}

main {
  display: grid;
  padding: 2rem;
  background: mintcream;
  place-items: center;
}

.dark main {
  background-color: darkslategray;
  color: wheat;
}

.dark main a {
  color: lightcoral;
}

.right {
  background: yellow;
}

footer {
  background: linear-gradient(165deg, teal, linen);
}

h1 {
  font-family: Sansita, cursive, serif;
  font-size: revert;
  // stylelint-disable-next-line font-weight-notation -- this is correct usage
  font-weight: revert;
}
